<!DOCTYPE html>
<html>
<head>
    <title>Список Кінотеатрів</title>
</head>
<body>
    <h1>Список Кінотеатрів</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Ціна квитка</th>
                <th>Кількість місць</th>
                <th>Адреса</th>
                <th>Телефон</th>
            </tr>
        </thead>
        <tbody>
            {% for cinema in cinemas %}
            <tr>
                <td>{{ cinema.id }}</td>
                <td>{{ cinema.name }}</td>
                <td>{{ cinema.ticket_price }}</td>
                <td>{{ cinema.seats_count }}</td>
                <td>{{ cinema.address }}</td>
                <td>{{ cinema.phone }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
