<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Список Лікарів</title>
</head>
<body>
    <h1>Список Лікарів</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Прізвище</th>
                <th>Ім'я</th>
                <th>По-батькові</th>
                <th>Спеціалізація</th>
                <th>Стаж</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}
                <tr>
                    <td>{{ doctor.id }}</td>
                    <td>{{ doctor.last_name }}</td>
                    <td>{{ doctor.first_name }}</td>
                    <td>{{ doctor.middle_name }}</td>
                    <td>{{ doctor.specialization }}</td>
                    <td>{{ doctor.experience }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
