<!DOCTYPE html>
<html>
<head>
    <title>Список Показів</title>
</head>
<body>
    <h1>Список Показів</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Фільм</th>
                <th>Кінотеатр</th>
                <th>Дата початку</th>
                <th>Тривалість</th>
            </tr>
        </thead>
        <tbody>
            {% for screening in screenings %}
            <tr>
                <td>{{ screening.id }}</td>
                <td>{{ screening.movie.title }}</td>
                <td>{{ screening.cinema.name }}</td>
                <td>{{ screening.start_date }}</td>
                <td>{{ screening.screening_duration }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
